<div class="auth-page">

  <div class="auth-card">

    <div class="auth-heading">

      <span class="auth-label">
        WELCOME BACK
      </span>

      <h1>
        Login
      </h1>

      <p>
        Masuk ke akun untuk melanjutkan
        proses belanja dan checkout.
      </p>

    </div>


    @if (errorMessage) {

      <div class="message error-message">
        {{ errorMessage }}
      </div>

    }


    @if (successMessage) {

      <div class="message success-message">
        {{ successMessage }}
      </div>

    }


    <form
      class="auth-form"
      (ngSubmit)="login()"
    >

      <div class="form-group">

        <label for="email">
          Email
        </label>

        <input
          id="email"
          type="email"
          name="email"
          placeholder="Masukkan email"
          [(ngModel)]="email"
          autocomplete="email"
        >

      </div>


      <div class="form-group">

        <label for="password">
          Password
        </label>

        <input
          id="password"
          type="password"
          name="password"
          placeholder="Masukkan password"
          [(ngModel)]="password"
          autocomplete="current-password"
        >

      </div>


      <button
        class="auth-button"
        type="submit"
        [disabled]="isSubmitting"
      >

        @if (isSubmitting) {
          Memproses...
        } @else {
          Login
        }

      </button>

    </form>


    <div class="auth-footer">

      Belum punya akun?

      <a routerLink="/register">
        Daftar
      </a>

    </div>

  </div>

</div>